<section class="field key-value-field">
  <div class="control-group">
    <Fields::DaFieldLabel @label={{label}} @field={{field}} />

    <div class="controls">
      <DButton
        @label="discourse_automation.fields.key_value.label"
        @action={{action "openSchemaModal"}}
      />

      <Fields::DaFieldDescription @description={{description}} />
    </div>
  </div>
</section>